html {
    background-image: linear-gradient(#ecf0f3, #2c3e50)
}
@keyframes slidein {
    from {margin-left: 100%; width: 300%}
    to {margin-left: 0; width: 100%}
    }
.body {
    background-color: black;
}

.header {
    font-size: x-large;
    text-align: center;
    animation-name: slidein;
    animation-duration: 4s;
}

.header-1 {
    font-size: x-large;
    text-align: center;
}


.hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    }
    
.button-container {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-grow: 4;
}

.play-1{
    background-color: black;
    color: white;
    font-size: large;
    padding: 3rem;
    text-align: center;
    overflow: hidden;
    animation: blinker 10s linear;
    animation-duration: 4s;
}
@keyframes blinker {
    50% {opacity:0%}
}

footer {
    background-color: rgb(164, 216, 215);
    text-align: center;
    display: block;
    padding: 3rem;
    margin: 3em;
    background-color: black;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /*will need to change 'grid-auto-rows' once content is inputted */
    grid-template-rows: auto;
    border: 1rem solid black;
}
.grid-item {
    border: 1px solid black;
    padding: 1rem;
}

.grid-container > div {
background-color: grey;
text-align: center;
}

.form{
    display:flex;
    justify-content: center;
    margin: 2em;
  }
  
.g-p-buttons {
    width: 200px;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: center;
}
.guess-1{
    margin: 2em;
    padding: 1em;
    border: 1em solid black;
}
.pass{
    margin: 2em;
    padding: 1em;
    border: 1em solid black;
}
.player-scores {
    display: flex;
    justify-content:space-between;
    margin: 1em;
    color: white;
}
.n-r-btn {
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 1em;
    margin: 2em;
    background-color: black;
    color: white;
    margin-left: 60%;
}

.final-category {
    background-color: grey;
    text-align: center;
    display: block;
    padding: 3rem;
    margin: 3em;
}
.final-question{
    background-color: grey;
    text-align: center;
    display: block;
    padding: 5em;
    height: 30vh;
    margin: 3em;
    border: solid black;
}

.final-form {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2em;
  }

.bet-btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 10em;
}

@media (min-width: 300px) and (max-width: 800px) {
    .grid-container { grid-template-columns: repeat(2, 1fr); }
  }